@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

.App {
  width: 100%;
  padding: 30px 0;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.7rem;

  .Header {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 0 0 10px rgb(23, 188, 218);
    text-transform: uppercase;
  }  
}